header{
    background-color: rgb(24, 137, 122);
    color: white;
    padding: 20px;
}

h1{
    text-align: center;
}

#error{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

button{
    color: white;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#heroText{
    width: 80%;
    height: 25px;
    border-radius: 5px;
}

#hero{
    font-size: 28px;
    margin-bottom: 0px;
}